/*
Description: 
Version: 1
Author: Mike Puodziunas
Author URI: http://pajune.us
*/


/* browser resets */
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote 
	{
	margin: 0; padding: 0; border: 0;
	}
/*end browser resets*/

body
{
	width: 100%;
	line-height: 1.6em;
	background-color: white;

}

#container {
	margin: auto;
	width: 1260px;
	background-color: #a3a3a3;
	float: none;
	}

#containerAlt {
	margin: auto;
	width: 1465px;
	float: none;
	}
	
#header {
	margin: auto;
	width: 100%;
	height: 50px;
	background-color: rgba(197,197,197,0.91);
	text-align: center;
	font-size: 25px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	}

#header a {
	width: 1260px;
	text-decoration: none;
	color: black;
}

#active {
	background-color: #a3a3a3;
	float: left;
	width: 25%;
	height: inherit;
	padding-top: 25px;
}
		
#not-active {
	background-color: #c5c7ce;
	float: left;
	width: 25%;
	height: inherit;
	padding-top: 25px;

}

#gradient-style
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: auto;
	width: 1260px;
	text-align: left;
	border-collapse: collapse;
}
#gradient-style th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #a3a3a3 url('table-images/gradhead.png') repeat-x;
	border-bottom: 1px solid #c5c7ce;
	color: #000;
}
#gradient-style td
{
	padding: 8px; 
	border-bottom: 1px solid #8BA170;
	color: #669;
	border-top: 1px solid #8BA170;
	background: #E7E9DE url('table-images/gradback.png') repeat-x;
}
#gradient-style tr td
{
	background: #E7E9DE;
	font-size: 12px;
	color: #000;
}
#gradient-style tr.done td
{
	background: #ABCE86;
	font-size: 12px;
	color: #000;
}
#gradient-style tbody tr:hover td
{
	background: #CFD5BE url('table-images/gradhover.png') repeat-x;
	color: #fff;
}
#gradient-style tbody tr.done:hover td
{
	color: #fff;
}